#styar2 {
     float: left;
    width: 800px;
    height: 500px;
    margin-left: 5em;
    margin-top: 1em;
    margin-bottom: 2em;
}
#styas2 { border:1px dashed #fff;
     float: right;
      width: 300px;
      height: 450px;
      margin-top: 1em;
      margin-right: 5em;
}
#body1 {
	height: 500px;
	background: #ca3438;
}
#nav1 { height: 400px; 

       }
#nav1 ul {
          list-style-type: none;
       }
li p {
	margin:0;
	font-size: 14	;
}
#nav2 ul {
 list-style-type: none;
}

a:link { color: white; }
a:link { text-decoration: none; }
#styselec {
    width: 100px;
    height: 20px;
}